<!--<div class="bp-hs" id="demo-default">-->
  <!--<div class="bp-hs_inner">-->
    <!--<div class="bp-hs_inner__item" data-transform="scale">-->
      <!--<img src="demo/01.jpg" alt="Boompx Hero Slider 01"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="rotate" data-origin="top-left">-->
      <!--<img src="demo/02.jpg" alt="Boompx Hero Slider 02"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="rotate"  data-origin="bottom-left">-->
      <!--<img src="demo/03.jpg" alt="Boompx Hero Slider 03"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item">-->
      <!--<img src="demo/04.jpg" alt="Boompx Hero Slider 04"/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="bp-hs" id="demo-default2">-->
  <!--<div class="bp-hs_inner">-->
    <!--<div class="bp-hs_inner__item" data-transform="fadeInUp">-->
      <!--<img src="demo/01.jpg" alt="Boompx Hero Slider 01"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="fadeInDown">-->
      <!--<img src="demo/02.jpg" alt="Boompx Hero Slider 02"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="fadeInLeft">-->
      <!--<img src="demo/03.jpg" alt="Boompx Hero Slider 03"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="fadeInRight">-->
      <!--<img src="demo/04.jpg" alt="Boompx Hero Slider 04"/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="bp-hs" id="demo-default3">-->
  <!--<div class="bp-hs_inner">-->
    <!--<div class="bp-hs_inner__item" data-transform="scale">-->
      <!--<img src="demo/01.jpg" alt="Boompx Hero Slider 01"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="rotate" data-origin="top-left">-->
      <!--<img src="demo/02.jpg" alt="Boompx Hero Slider 02"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item" data-transform="rotate"  data-origin="bottom-left">-->
      <!--<img src="demo/03.jpg" alt="Boompx Hero Slider 03"/>-->
    <!--</div>-->
    <!--<div class="bp-hs_inner__item">-->
      <!--<img src="demo/04.jpg" alt="Boompx Hero Slider 04"/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
