<div class="tpl_hv bp-hs">
  <div class="tpl_vh bp-hs" id="sequence1" ng-repeat="seq_code in ['sequence1']" ng-include="'./templates/data.html'">
  </div>

  <div class="tpl_vh bp-hs" id="sequence2" ng-repeat="seq_code in ['sequence2']" ng-include="'./templates/data.html'">
  </div>

</div>

<div class="tpl_hv bp-hs">
  <div class="tpl_vh bp-hs" id="sequence3" ng-repeat="seq_code in ['sequence3']" ng-include="'./templates/data.html'">
  </div>

  <div class="tpl_vh bp-hs" id="sequence4" ng-repeat="seq_code in ['sequence4']" ng-include="'./templates/data.html'">
  </div>

</div>
