<div ng-if="is_free == 'Y'" style="position:absolute; height:10%; bottom:0; left:0; width:100%;" id="sequence0" ng-repeat="seq_code in ['sequence0']" ng-include="'./templates/data.html'"></div>
<div ng-style="{ 'height' : (is_free == 'Y') ? '90%' : '100%' }" style="width:100%;">
    <div style="width:100%; height:20%;" id="sequence1" ng-repeat="seq_code in ['sequence1']" ng-include="'./templates/data.html'"></div>
    <div style="width:33.33333%; height:80%;" id="sequence2" ng-repeat="seq_code in ['sequence2']" ng-include="'./templates/data.html'"></div>
    <div style="width:33.33333%; height:80%;" id="sequence3" ng-repeat="seq_code in ['sequence3']" ng-include="'./templates/data.html'"></div>
    <div style="width:33.33333%; height:80%;" id="sequence4" ng-repeat="seq_code in ['sequence4']" ng-include="'./templates/data.html'"></div>
</div>

