<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'Y'">
    Advertising
</div>
<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'N'">
    BOTTOM
</div>
<div style="height:85%; width:100%; padding:0;">
    <div style="width:40%;margin:2.5% 5% 2.5% 0; height:90%;" id="sequence1" ng-repeat="seq_code in ['sequence1']" ng-include="'./templates/data.html'">
    </div>
    <div style="width:55%; height:100%; padding:0;">
        <div style="width:50%; height:50%;" id="sequence2" ng-repeat="seq_code in ['sequence2']" ng-include="'./templates/data.html'"></div>
        <div style="width:50%; height:50%;" id="sequence3" ng-repeat="seq_code in ['sequence3']" ng-include="'./templates/data.html'"></div>
        <div style="width:50%; height:50%;" id="sequence4" ng-repeat="seq_code in ['sequence4']" ng-include="'./templates/data.html'"></div>
        <div style="width:50%; height:50%;" id="sequence5" ng-repeat="seq_code in ['sequence5']" ng-include="'./templates/data.html'"></div>
    </div>
</div>
