<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'Y'">
    Advertising
</div>
<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'N'">
    BOTTOM
</div>
<div style="height:85%; width:100%; padding:0;">
    <div style="width:25%; height:33.333333%;">1</div>
    <div style="width:25%; height:33.333333%;">2</div>
    <div style="width:25%; height:33.333333%;">3</div>
    <div style="width:25%; height:33.333333%;">4</div>
    <div style="width:25%; height:33.333333%;">5</div>
    <div style="width:25%; height:33.333333%;">6</div>
    <div style="width:25%; height:33.333333%;">7</div>
    <div style="width:25%; height:33.333333%;">8</div>
    <div style="width:25%; height:33.333333%;">9</div>
    <div style="width:25%; height:33.333333%;">10</div>
    <div style="width:25%; height:33.333333%;">11</div>
    <div style="width:25%; height:33.333333%;">12</div>
</div>

