<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'Y'">
    Advertising
</div>
<div style="position:absolute; height:15%; bottom:0; left:0; width:100%;" ng-show="channel_info.is_free == 'N'">
    BOTTOM
</div>
<div style="height:85%; width:100%; padding:0;">
    <div style="width:40%;margin:2.5% 5% 2.5% 0; height:90%;">
        1
    </div>
    <div style="width:55%; height:100%; padding:0;">
        <div style="width:50%; height:50%;">2</div>
        <div style="width:50%; height:50%;">3</div>
        <div style="width:50%; height:50%;">4</div>
        <div style="width:50%; height:50%;">5</div>
    </div>
</div>