<div ng-if="is_free == 'Y'" style="position:absolute; height:10%; bottom:0; left:0; width:100%;" id="sequence0" ng-repeat="seq_code in ['sequence0']" ng-include="'./templates/data.html'"></div>
<div ng-style="{ 'height' : (is_free == 'Y') ? '90%' : '100%' }" style="width:100%;">
    <div style="width:38%; height:99%; margin:0.5% 1%;" id="sequence1" ng-repeat="seq_code in ['sequence1']" ng-include="'./templates/data.html'">
    </div>
    <div style="width:60%; height:100%; padding:0;">
        <div style="width:48%; height:49%;margin:0.5% 1%;" id="sequence2" ng-repeat="seq_code in ['sequence2']" ng-include="'./templates/data.html'"></div>
        <div style="width:48%; height:49%;margin:0.5% 1%;" id="sequence3" ng-repeat="seq_code in ['sequence3']" ng-include="'./templates/data.html'"></div>
        <div style="width:48%; height:49%;margin:0.5% 1%;" id="sequence4" ng-repeat="seq_code in ['sequence4']" ng-include="'./templates/data.html'"></div>
        <div style="width:48%; height:49%;margin:0.5% 1%;" id="sequence5" ng-repeat="seq_code in ['sequence5']" ng-include="'./templates/data.html'"></div>
    </div>
</div>
